body{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    }


header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-image: linear-gradient(to right, #434343 0%, #000000 100%);
}
/*barra de navegacion*/
nav {
    display: flex;
    width: 100%;
    height: 6.5rem; /*anterior era 7.813rem*/
    justify-content: space-around;
    align-items: center;
    padding: 0 1.25rem;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    font-size: 1.2rem;
    color: #00ffff;
    box-shadow: 0.625rem 0.313rem 0.313rem #000000;
   
  }
  
  /*lista del menú de navegacion*/
  ul {
    display: flex;
    margin: 0rem;
    padding: 6.25rem;
  }
  
  ul li {
    list-style: none;
    margin: 0 1.563rem;
  }
  
  ul li a {
    color: #00ffff;
    text-decoration: none;
    border: 1px solid #ffffff02;
  }
  
  ul li a:hover {
    color: #ffffff;
    background-color:#267ab22c;
    border-radius: 5px;
    }

    /*logo Codo-Net*/
.logo {
    margin-left:-8rem;
    width: 20rem;
    cursor: pointer;
    transition: 1s;
  }
  nav input[type="checkbox"] {
    display: none;
  }
  
  nav label {
    display: none;
    cursor: pointer;
  }
  
  /*queries para pantallas pequeñas*/
  @media only screen and (max-width: 768px) {
    nav ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: #0f0c29;
      background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
      background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
      padding: 1rem;
      box-shadow: 0 0.125rem 0.313rem #00000033;
    }
  
    nav li {
      margin: 0;
      text-align: center;
    }
  
    nav a {
      display: block;
      font-size: 1.2rem;
      padding: 0.5rem 0;
    }
  
    input[type="checkbox"]:checked ~ ul {
      display: flex;
      flex-direction: column;
    }
  
    nav label {
      display: block;
      font-size: 2rem;
      cursor: pointer;
      position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: 1;
    }
  
    .fa-bars {
      display: block;
    }
}
/******************************************************************/
.grid-wifi {
    display: grid;
    flex-wrap: wrap;
    margin-top: 1rem;
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); 
    
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.25rem;
    color:#ffffff;
    
  }
.grid-wifi .column-1 {
    text-align: center;
   
    }

 
.grid-wifi img {
    max-width: 100%;
    
}

.grid-wifi h1 {
    font-size: 3rem;
    margin-left:1rem
}
.grid-wifi h2 {
    font-size:1.5rem;
    margin-left: 1rem;
}

.button {
    display: inline-block;
    padding: 0.5em 1em;
    
    background-color:white;
    color:#0082c8;
    text-decoration: none;
    border-radius: 50px;
    margin-left: 1rem;
   }

  .button:hover {
    background-color: #666;
  }

  
  @media only screen and (min-width: 600px) and (max-width: 1024px) {
    .grid-wifi {
       display: block;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-column-gap: 20px;
    }
  
    .grid-wifi.column-1 {
      align-self: center;
      align-items: center;
     
      }
     
      .button {
      margin-top: 20px;
      margin-bottom: 0.5rem;
    }
  }
  

 
  
  
  
  
  /* Media queries para pantallas más pequeñas */
  @media only screen and (max-width: 600px) {
    .grid-wifi {
      grid-template-columns: 1fr;
      text-align: center;
    }
    .grid-wifi .column-1 {
      order: 2;
     .grid-wifi img {
      margin-top: 20px;
      max-width: 80%;
    }
    .button {
        font-size: 14px;
        margin-bottom: 0.5rem;
      }
    
  }
}
  
  /* Media queries para pantallas aún más pequeñas */
  @media only screen and (max-width: 480px) {
    .grid-wifi .column-1 {
        order: 1;
      font-size: 18px;
    }

    .button {
      font-size: 14px;
      margin-bottom: 0.5rem;
    }
  }
  
  .grid-wifi2{
       display:grid;
       grid-template: repeat(4,1fr) / repeat(3,1fr);
       grid-template-areas: "primero primero primero"
       "segundo segundo segundo"
       "izquierda centro derecha"
       "izquierda2 centro2 derecha2";

       gap: 30px;
        color:#ffffff;
       
       
      }

  .primero{ grid-area: primero;
        display: flex;
        justify-content: center;
        
        
      }

  .segundo{grid-area: segundo;
        display: flex;
        margin: auto;
  }
.grid-item{
        display: flex;
        justify-content: center;
        text-align: center;
       
    }
    .grid-item img{
        display: flex;
        align-items:center;
    }
   



  .grid-wifi2 h1 {
    text-align: center;
    font-size: 2.5rem;
   
}
.grid-wifi2 h3 {
    font-size:1.5rem;
  }
  

  
  
  
