body {
    background: #667db6;
    background: -webkit-linear-gradient(
      to right,
      #667db6,
      #0082c8,
      #0082c8,
      #667db6
    ); 
    background: linear-gradient(
      to right,
      #667db6,
      #0082c8,
      #0082c8,
      #667db6
    ); 
  }
  
  header {
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  /*barra de navegacion*/
  .containerNav {
    margin-top: 1rem;
    width: 100%;
    height: 7.813rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    font-size: 1.2rem;
    color: aqua;
    box-shadow: 0.625rem 0.313rem 0.313rem black;
  }
  /*lista del menú de navegacion*/
  ul {
    margin: 0rem;
    padding: 6.25rem;
    display: flex;
  }
  
  ul li {
    list-style: none;
    margin: 0 1.563rem;
  }
  
  ul li a {
    color: aqua;
    text-decoration: none;
  }
  
  ul li a:hover {
    color: white;
  }
  /*logo Codo-Net*/
  .logo {
    cursor: pointer;
    transition: 1s;/*esto junto con la clase de abajo hace que el logo cambie de tamaño*/
  }
  /*Esto hace que el logo cambie de tamaño al pasar el mouse*/
  .logo:hover {
    transform: scale(1.1);
    transition: 1s;
  }
  /*contenido principal de la página*/
  .principal {
    margin-top: 5rem;
  }



  
  
  /*contenedor del footer*/
  .footContainer {
    background: #141e30;
    background: -webkit-linear-gradient(to right, #243b55, #141e30);
    background: linear-gradient(to right, #243b55, #141e30);
    display: grid;
    grid-template-columns: 13.125rem 1fr 1fr 13.75rem 2fr;
    justify-content: start;
    gap: 6.25rem;
    color: white;
    
  }
  
  /*Estilos del footer*/
  footer {
    background: #141e30;
    background: -webkit-linear-gradient(to right, #243b55e9, #141e30);
    background: linear-gradient(to right, #243b55ea, #141e30);
    color:white;
  }
  
  /*logo en el footer*/
  .footerLogo {
    margin-top: -1.8rem;
    margin-left: -5.5rem;
  }
  /*Margen izquierdo para la primera columna del footer*/
  .column1 {
    margin-left:1rem;
  }
  /*Margen derecho para la última columna del footer*/
  .column5 {
    margin-right:1.5rem;
  }
  
  /*final del footer*/
  .copyright {
    display: flex;
    justify-content: center;
  }
  
  /*íconos de las redes sociales en el footer*/
  .fa-brands {
    margin-top: 1rem;
    padding: 0.313rem;
  }
  .fa-brands.fa-instagram.fa-2xl:hover {
    color: #E1306C;
  }
  .fa-brands.fa-facebook.fa-2xl:hover {
    color: #3b5998;
  }
  .fa-brands.fa-whatsapp.fa-2xl:hover {
    color: #00bb2d;
  }
  .fa-brands.fa-twitter.fa-2xl:hover {
    color: #00acee;
  }

  /*opciones de descarga de app en footer*/
  .app {
    margin-top:4rem;
  }

/* carrusel*/
.slide {
    position: relative;
    box-shadow: 0px 1px 6px #000000a3;
    margin-top: 26px;
    
    
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 394px + 3rem);
    
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3,
#slide-4:checked ~ .control-4,
#slide-5:checked ~ .control-5{
    display: block;
}
/* .slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
} */
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo 
#slide-4:checked ~ .control-4 ~ .slide-indicador 
      li:nth-child(4) .slide-circulo
#slide-5:checked ~ .control-5 ~ .slide-indicador 
      li:nth-child(5) .slide-circulo{
    color: #428bca;
}
/* #titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
} */


  


  