body{
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  scroll-snap-type: y mandatory;
} 

/*Esto está comentado porque era el fondo anterior, ahora está con background de prueba oscuro*/
/* body {
    background: #667db6;
    background: -webkit-linear-gradient(
      to right,
      #667db6,
      #0082c8,
      #0082c8,
      #667db6
    ); 
    background: linear-gradient(
      to right,
      #667db6,
      #0082c8,
      #0082c8,
      #667db6
    ); 
  } */

  
  

/* cabecera con barra de navegacion*/
header{
  position:sticky;
  top:0;
  left:0;
  z-index: 100;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  scroll-snap-align: start;
     }

  /*Efecto typing en el comienzo de la página*/
     .welcome {
      width: 0;
      overflow: hidden;
      white-space: nowrap;
      font-size: 2rem;
      margin: 0 auto;
      
      border-right: 0.15em solid #18bdec;
      animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
    }
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 30%;
      }
    }
    @keyframes blink {
      0% {
        border-color: transparent;
      }
    }

  /*barra de navegacion*/
  nav {
  display: flex;
  
  width: 100%;
  height: 6.5rem; /*anterior era 7.813rem*/
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
  
  font-size: 1.2rem;
  color: aqua;
  box-shadow: 0.625rem 0.313rem 0.313rem #000000;
}
/*********************************************************************************/

/*lista del menú de navegacion*/
ul {
  display: flex;
  margin: 0rem;
  padding: 6.25rem;
}

ul li {
  list-style: none;
  margin: 0 1.563rem;
}

ul li a {
  color: aqua;
  text-decoration: none;
}

ul li a:hover {
  color: white;
}

/*logo Codo-Net*/
.logo {
  margin-left: -8rem;
  width: 20rem;
}
/*****************************************************************************/

/*carrusel sin bootstrap que funciona y es automático*/
.slider-frame {
  width: 100%;
  height: auto;
  margin: 30px auto 0;
  overflow: hidden;
}

.slider-frame ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 15s infinite alternate ease-in-out;
}

.slider-frame li {
  width: 100%;
  list-style: none;
}

.slider-frame img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0.313rem 0.313rem 0.313rem #ffffffcc;
}

/*Un @keyframe es una regla en CSS que define los estilos específicos
  de un elemento en diferentes momentos de una animación.
  En una animación CSS, se especifican una serie de fotogramas clave (keyframes)
  que describen cómo debe cambiar el aspecto del elemento 
  en diferentes momentos de la animación. */
@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/*banner final del carrusel. Ideal ajustar las imagenes a 1708px x 562px
 o el equivalente en rem*/
.downloadApp {
  width: 106.75rem;
  height: 35.125rem;
  background-color: #0082c8;
}
/*************************************************************************************/

/*contenido de la página en donde estan las ilustraciones*/
.grid-container {
  display: grid;
  grid-template: 4.25rem 20rem / 1fr 1fr 1fr;
  grid-template-areas:
    "above above above"
    "left center right";
 gap: 25px;
 margin:10px;
  
} 
.grid-item{
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

/* Este es el cartelito que dice "conocé nuestras opciones"*/
.above {
  grid-area: above;
  background-image: linear-gradient( 76.3deg,  #2c3e4e 12.6%, #456783 82.8% );
  text-align: center;
  color:#fffffffc;
  text-shadow:#000000 0.1em 0.1em 0.1em;
  box-shadow: 0.625rem 0.313rem 0.313rem #000000;
  opacity: .6;
  }
  .above h2{
    font-size: 2.5rem;
  }

.left {/*estilos de la ilustracion de la izquierda*/
  grid-area: left;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% );
  text-align: center;
  text-shadow:whitesmoke 0.1em 0.1em 0.1em;
  box-shadow: 0.425rem 0.213rem 0.213rem rgba(255, 255, 255, 0.378);
  border-radius: 10px;
  cursor: pointer;
  transition: 1s; /*esto junto con la clase de abajo hace la imagen cambie de tamaño*/
  }

  .left:hover{/*con el hover cambia de color la imagen al pasar con el mouse*/
    background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
    transform: scale(1.1);
    transition: 1s;
  }
   
  .center {/*estilos de la ilustracion del centro*/
  grid-area: center;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% );
  text-align: center;
  text-shadow:whitesmoke 0.1em 0.1em 0.1em;
  box-shadow: 0.425rem 0.213rem 0.213rem rgba(255, 255, 255, 0.378);
  border-radius: 10px;
  cursor: pointer;
  transition: 1s; /*esto junto con la clase de abajo hace la imagen cambie de tamaño*/
  }

 .center:hover{
  background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
  transform: scale(1.1);
  transition: 1s;
}

.right {/*estilos de la ilustracion de la derecha*/
  grid-area: right;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% );
  text-align: center;
  text-shadow:whitesmoke 0.1em 0.1em 0.1em;
  box-shadow: 0.425rem 0.213rem 0.213rem rgba(255, 255, 255, 0.378);
  border-radius: 10px;
  cursor: pointer;
  transition: 1s; /*esto junto con la clase de abajo hace la imagen cambie de tamaño*/
} 

.right:hover{
  background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
  transform: scale(1.1);
  transition: 1s;
}
/***************************************************************************************************/

/* Este el es grid debajo de las ilustraciones , en donde está el aviso */
/*en donde está el aviso del 5G*/
.grid-advert{
  display:grid;
  margin:20px auto 20px auto;
  align-items: center;
  text-align: center;
  grid-template-columns: 1fr 1fr auto;
  width:90%;
  height: 400px;
  background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, rgba(75,68,224,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 98.4% );
  color:white;
  -webkit-text-stroke: 2px black;/*le agrega un borde al texto*/
  border-radius: 20px;
 font-family: 'Lilita One', cursive;
  opacity: .8;
} 

/*Acá estan simplemente los tamaños y la alineacion de la fuente del anuncio del 5G*/
.grid-advert h1{
  font-size: 8rem;
  text-align: start;
}
.grid-advert h2{
  font-size: 3rem;
}
.wifi-icon{
  rotate: 90deg;
}
/***********************************************************************************************/

/*cartelito de descarga de la app*/
.grid-app{
  display: grid;
  margin:20px auto 20px auto;
  background-color: #00DBDE;
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
 color:white;
 -webkit-text-stroke: 1px black;/*le agrega un borde al texto*/
 align-items: center;
text-align: center;
grid-template-columns: 1fr auto auto;
width:90%;
height: 250px;
border-radius: 20px;
font-family: 'Lilita One', cursive;
opacity:.8;
}
.grid-app img{
  border-radius: 30px;
  }
/**********************************************************************************************/

/*aviso que dice "pedí tu chip"*/
  .grid-sim{
    display: grid;
    margin:20px auto 20px auto;
    background-image: url(../img/fondo-papel-tapiz-colorido-borroso-vivo.jpg);
   color:#ffffff;
   -webkit-text-stroke: 1px black;/*le agrega un borde al texto*/
   align-items: center;
  text-align: center;
  grid-template-columns: 1fr auto auto;
  width:90%;
  height: 250px;
  border-radius: 20px;
  font-family: 'Lilita One', cursive;
  opacity:.8;
  }
  .grid-sim img{
    border-radius: 30px;
    }
    /****************************************************************************************/

     /*contenedor del footer*/
.footContainer {
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
  display: grid;
  grid-template-columns: 13.125rem 1fr 1fr 13.75rem 2fr;
  justify-content: start;
  gap: 6.25rem;
  color: white;
  width: 100%
}

/*Estilos del footer*/
footer {
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55e9, #141e30);
  background: linear-gradient(to right, #243b55ea, #141e30);
  color: white;
}

/*logo en el footer*/
.footerLogo {
  margin-top: -1.8rem;
  margin-left: -5.5rem;
}
/*Margen izquierdo para la primera columna del footer*/
.col1 {
  margin-left: 1rem;
}
/*Margen derecho para la última columna del footer*/
.col5 {
  margin-right: 1.5rem;
}


/*línea al final del footer*/
.line {
  border-top: 0.063rem solid white;
  height: 0.125rem;
  padding: 0;
  margin: 0.125rem auto 0 auto;
  }

/*final del footer*/
.copyright {
  display: flex;
  justify-content: center;
}

/*íconos de las redes sociales en el footer*/
.fa-brands {
  margin-top: 1rem;
  padding: 0.313rem;
}
.fa-brands.fa-instagram.fa-2xl:hover {
  color: #e1306c;
}
.fa-brands.fa-facebook.fa-2xl:hover {
  color: #3b5998;
}
.fa-brands.fa-whatsapp.fa-2xl:hover {
  color: #00bb2d;
}
.fa-brands.fa-twitter.fa-2xl:hover {
  color: #00acee;
}

/*opciones de descarga de app en footer*/
.app {
  margin-top: 4rem;
}
/****************************************************************************************/

/*Ajuste de los media queries sin terminar/*
/*Estilos para pantallas pequeñas*/ 

@media only screen and (max-width: 600px) {
  
  nav{
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 1rem;
  }
  ul {
    padding: 0;
    margin: 1rem 0;
    flex-direction: column;
  }
  ul li {
    margin: 1rem 0;
    text-align: center;
  }
  .logo {
    margin-left: 0;
    margin-bottom: 1rem;
  }
  
  .footContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
  }
  
  .col1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .col1 img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .col2,.col3,.col4,.col5 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .col5 .app {
    margin-top: 20px;
  }
  
  .col5 .qrCode {
    text-align: center;
    margin-top: 20px;
  }
  
  .line {
    margin: 30px 0;
  }
  
  .copyright {
    text-align: center;
  }
}
  
 


@media only screen and (min-width: 600) {
  /* estilos para pantallas medianas */
  .footContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
  }
  
  .col1 {
    width: 50%;
    text-align: left;
    margin-bottom: 0;
  }
  
  .col1 img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .col2,.col3,.col4,.col5 {
    width: calc((100% - 40px) / 3);
    text-align: left;
    margin-bottom: 0;
  }
  
  .col5 .app {
    margin-top: 20px;
  }
  
  .col5 .qrCode {
    text-align: center;
    margin-top: 20px;
  }
  
  .line {
    margin: 30px 0;
  }
  
  .copyright {
    text-align: center;
  }
}



@media only screen and (min-width: 768px) {
  /* estilos para pantallas grandes */
}

@media only screen and (min-width: 1200px) {
  /* estilos para pantallas extra grandes */
}

