body {
    background: #667db6;
    background: -webkit-linear-gradient(
      to right,
      #667db6,
      #0082c8,
      #0082c8,
      #667db6
    ); 
    background: linear-gradient(
      to right,
      #667db6,
      #0082c8,
      #0082c8,
      #667db6
    ); 
  }
  
  header {
    position: sticky;
    top: 0;
  }
  
  /*barra de navegacion*/
  .containerNav {
    margin-top: 1rem;
    width: 100%;
    height: 7.813rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    font-size: 1.2rem;
    color: aqua;
    box-shadow: 0.625rem 0.313rem 0.313rem black;
  }
  /*lista del menú de navegacion*/
  ul {
    margin: 0rem;
    padding: 6.25rem;
    display: flex;
  }
  
  ul li {
    list-style: none;
    margin: 0 1.563rem;
  }
  
  ul li a {
    color: aqua;
    text-decoration: none;
  }
  
  ul li a:hover {
    color: white;
  }
  /*logo Codo-Net*/
  .logo {
    cursor: pointer;
    transition: 1s;/*esto junto con la clase de abajo hace que el logo cambie de tamaño*/
  }
  /*Esto hace que el logo cambie de tamaño al pasar el mouse*/
  .logo:hover {
    transform: scale(1.1);
    transition: 1s;
  }
  /*contenido principal de la página*/
  .principal {
    margin-top: 5rem;
  }
  
  /*contenedor del footer*/
  .footContainer {
    background: #141e30;
    background: -webkit-linear-gradient(to right, #243b55, #141e30);
    background: linear-gradient(to right, #243b55, #141e30);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: start;
    gap: 6.25rem;
    color: white;
  }
  
  /*Estilos del footer*/
  footer {
    background: #141e30;
    background: -webkit-linear-gradient(to right, #243b55e9, #141e30);
    background: linear-gradient(to right, #243b55ea, #141e30);
    color: white;
  }
  
  /*logo en el footer*/
  .footerLogo {
    margin-top: -1.8rem;
    margin-left: -4rem;
  }
  /*Margen izquierdo para la primera columna del footer*/
  .column1 {
    margin-left:1rem;
  }
  /*Margen derecho para la última columna del footer*/
  .column5 {
    margin-right:1rem;
  }
  
  /*final del footer*/
  .copyright {
    display: flex;
    justify-content: center;
  }
  
  /*íconos de las redes sociales en el footer*/
  .fa-brands {
    margin-top: 1rem;
    padding: 0.313rem;
  }
  .fa-brands.fa-instagram.fa-2xl:hover {
    color: #E1306C;
  }
  .fa-brands.fa-facebook.fa-2xl:hover {
    color: #3b5998;
  }
  .fa-brands.fa-whatsapp.fa-2xl:hover {
    color: #00bb2d;
  }
  .fa-brands.fa-twitter.fa-2xl:hover {
    color: #00acee;
  }
  /*opciones de descarga de app en footer*/
  .app {
    margin-top:4rem;
    
  }
  