/* body{
    background: #667db6; 
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); 
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); 
}  */

body{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    }

.containerNav{
    width: 100%;
    display: flex;
    align-content:space-between;
    color:aqua;
    
    }

    /*Lista de elementos dentro de la barra de navegacion*/
ul{
    margin: 0px;
    padding: 70px;
    display:flex;
    justify-content: end;
    }

ul li {
    list-style: none;
    margin: 0 25px;
}

ul li a {
    color: aqua;
    text-decoration: none;
}

ul li a:hover{
    color: white;
 }

.logo{
    margin-top: 1rem;
    margin-left:-22rem;
    width: 20rem;
    }




/* Contenedor grid */
/* configuraci칩n para dispositivos de mayor tama침o     */

.container {
    display: grid;

/* Se definen tres filas / tres columnas */
    grid-template: 10.25rem 1fr  3.75rem / 5% auto 5%;

/* Distribucion el contenido en cada fila */
    grid-template-areas: "above above above"
                         "left middle right"
                         "bottom bottom bottom";
    gap: 2.188rem
}


/*Nombre y color de cada area del grid */

.above { grid-area: above;   background: #0f0c29;
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
height: 6.5rem;
margin-top: 1rem;              
position:sticky;
top:0;
display: flex;
align-items: center;
justify-content:space-around;
width: 100%;
font-size: 1.3rem;
box-shadow: 0.625rem 0.313rem 0.313rem #000000; 
}

nav input[type="checkbox"] {
    display: none;
  }
  
  nav label {
    display: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 768px) {
    nav ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    padding: 1rem;
    box-shadow: 0 2px 5px #00000033;
    }
  
    nav li {
      margin: 0;
      text-align: center;
    }
  
    nav a {
      display: block;
      font-size: 1.2rem;
      padding: 0.5rem 0;
    }
    
  
    input[type="checkbox"]:checked ~ ul {
      display: flex;
      flex-direction: column;
    }
  
    nav label {
      display: block;
      font-size: 2rem;
      cursor: pointer;
      position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: 1;
    }
  
    .fa-bars {
      display: block;
    
    }
}

/* color de la fuente del 치rea del medio*/
.middle{
    color:#7fffd4;
}
/*barra lateral izquierda*/
  .left{ grid-area:left;  /*background: #2193b0; 
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); 
    background: linear-gradient(to right, #6dd5ed, #2193b0); */   
    background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
    }
    /*barra lateral derecha*/
.right{ grid-area:right; /*background: #2193b0;  
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); 
    background: linear-gradient(to right, #6dd5ed, #2193b0); */
    background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
     }
/*pie de la p치gina*/
.bottom{ grid-area: bottom;
background: #141E30;  
background: -webkit-linear-gradient(to right, #243B55, #141E30);
background: linear-gradient(to right, #243B55, #141E30); 
color:#ffffff;
display: flex;
justify-content: center;
margin-bottom: 1rem;
box-shadow: 0.625rem 0.313rem 0.313rem #000000; 

}


.grid-prom {
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 20%;
    gap: 10px;
   
   
  }
  
  .grid-item {
   background: #bc4e9c;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;
    text-align: start;
    border-radius: 10px;
    
    
    }
    .grid-item h1{
        font-size: 3rem;
        color:#ffd166;
}
    .grid-item h5 {
        text-align: center;
        color:#000000a7;
    }
    
/* Estilo del formulario*/
form{
    margin-top: 3rem;
    padding: 10px;
    color:white;
    border:2px solid #D3D0CB;
    background: #4B79A1;  
    background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  
    background: linear-gradient(to right, #283E51, #4B79A1); 
    
    }

    
    /***********************************************************************************************/
      
    
          
          
          

