* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }

body {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  font-family: 'PT Sans', sans-serif;
 }

.title{
  color:aliceblue;
  text-align:center ;
  margin-top: 2rem;
}
 .container {
  display: flex;
  justify-content: center;
}

table {
  margin-top: 1rem;
  margin-bottom: 1rem;
    border-collapse: collapse;
    width: 50%;
   
  }
  
  th, td {
    
    padding: 8px;
    text-align: center;
    border: 1px solid #6332ad;
  }
  
  th {
    background-color: #ADD8E6;
  }
  tr{
    background-color: #c0c7cd;
  }
  
  tr:hover {
    background-color: #db9797;
  }
  .btn{
    text-align: center;
  }
  .list_btn{
    background-color: #00a0df;
	color: #fff;
  font-size: 18px;
	padding: 10px 20px;
	border-radius: 5px;
  }
.foot{
  background: #141e30;
	background: -webkit-linear-gradient(to right, #243b55e9, #141e30);
	background: linear-gradient(to right, #243b55ea, #141e30);
    color: #fff;
	padding: 50px 0;
  text-align: center;
  margin-top: auto;
}


